<header id="header">
    <nav>
        <div class="menu" id="menu-panel">

            <div class="item has-submenu" [ngStyle]="loggedIn && permissions_slug?.includes('user.index') ? {'display': 'flex'} : {'display' : 'none'}">
                <a class="linkuser">
                    Usuarios
                </a>
                <div class="submenu">
                    <a class="subitem" [routerLink]="['user']">Lista de usuarios</a>

                </div>
            </div>


            <div class="item has-submenu" [ngStyle]="loggedIn && permissions_slug?.includes('role.index') ? {'display': 'flex'} : {'display' : 'none'}">
                <a class="linkuser">
                    Roles
                </a>
                <div class="submenu">
                    <a class="subitem" [routerLink]="['role']">Lista de roles</a>
                    <a class="subitem" [routerLink]="['role-new']" [ngStyle]="loggedIn && permissions_slug?.includes('role.create') ? {'display': 'flex'} : {'display' : 'none'}">Crear rol</a>

                </div>
            </div>


            <div class="item has-submenu" [ngStyle]="loggedIn && permissions_slug?.includes('category.index') ? {'display': 'flex'} : {'display' : 'none'}">
                <a class="linkuser">
                    Categorias
                </a>
                <div class="submenu">
                    <a class="subitem" [routerLink]="['category']">Lista de categorias</a>
                    <a class="subitem" [ngStyle]="loggedIn && permissions_slug?.includes('category.create') ? {'display': 'flex'} : {'display' : 'none'}" [routerLink]="['category-new']">Crear categoria</a>

                </div>
            </div>


            <div class="item has-submenu" [ngStyle]="loggedIn && permissions_slug?.includes('permission.index') ? {'display': 'flex'} : {'display' : 'none'}">
                <a class="linkuser">
                    Permisos
                </a>
                <div class="submenu">
                    <a class="subitem" [routerLink]="['permission']">Lista de permisos</a>
                    <a class="subitem" [routerLink]="['permission-new']" [ngStyle]="loggedIn && permissions_slug?.includes('permission.create') ? {'display': 'flex'} : {'display' : 'none'}">Crear permiso</a>

                </div>
            </div>


            <div class="profileSession">

                <a class="item social" [routerLink]="['login']" *ngIf="!loggedIn">Log In</a>
                <a class="item social secondary" [routerLink]="['register']" *ngIf="!loggedIn">Sign Up</a>



                <div class="item has-submenu submenu-profile"
                    [ngStyle]="loggedIn ? {'display': 'flex'} : {'display' : 'none'}">


                    <a class="linkuser">
                        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                            class="profilepic">
                        <div class="username">
                            {{user?.name}}

                        </div>
                    </a>
                    <div class="submenu">
                        <a class="subitem" href="#" [ngStyle]="loggedIn && permissions_slug?.includes('userown.edit') ? {'display': 'flex'} : {'display' : 'none'}">Editar perfil</a>
                        <a class="subitem" (click)="logout()">Salir</a>
                    </div>
                </div>
            </div>



            <a class="toggle" href="#">&#9776;</a>
        </div>
    </nav>
</header>