<header id="header">
    <nav>
        <div class="menu" id="menu-panel">

            <div class="item has-submenu" [ngStyle]="loggedIn &&  resolution > 1200 && permissions_slug?.includes('user.index') ? {'display': 'block'} : {'display' : 'none'}" [ngStyle]="status_menu && permissions_slug?.includes('user.index') ? {'display': 'block'} : {'display' : 'none'}">
                <a class="linkuser">
                    Usuarios
                </a>
                <div class="submenu">
                    <a class="subitem" [routerLink]="['user']" (click)="statusMenu()">Lista de usuarios</a>

                </div>
            </div>


            <div class="item has-submenu" [ngStyle]="loggedIn && resolution > 1200 && permissions_slug?.includes('role.index') ? {'display': 'block'} : {'display' : 'none'}" [ngStyle]="status_menu && permissions_slug?.includes('role.index') ? {'display': 'block'} : {'display' : 'none'}">
                <a class="linkuser">
                    Roles
                </a>
                <div class="submenu">
                    <a class="subitem" [routerLink]="['role']" (click)="statusMenu()">Lista de roles</a>
                    <a class="subitem" [routerLink]="['role-new']" [ngStyle]="permissions_slug?.includes('role.create') ? {'display': 'block'} : {'display' : 'none'}" (click)="statusMenu()">Crear rol</a>

                </div>
            </div>


            <div class="item has-submenu" [ngStyle]="loggedIn && resolution > 1200 && permissions_slug?.includes('category.index') ? {'display': 'block'} : {'display' : 'none'}" [ngStyle]="status_menu && permissions_slug?.includes('category.index') ? {'display': 'block'} : {'display' : 'none'}">
                <a class="linkuser">
                    Categorias
                </a>
                <div class="submenu">
                    <a class="subitem" [routerLink]="['category']" (click)="statusMenu()">Lista de categorias</a>
                    <a class="subitem" [routerLink]="['category-new']" [ngStyle]="permissions_slug?.includes('category.create') ? {'display': 'block'} : {'display' : 'none'}" (click)="statusMenu()">Crear categoria</a>

                </div>
            </div>


            <div class="item has-submenu" [ngStyle]="loggedIn && resolution > 1200 && permissions_slug?.includes('permission.index') ? {'display': 'block'} : {'display' : 'none'}" [ngStyle]="status_menu && permissions_slug?.includes('permission.index') ? {'display': 'block'} : {'display' : 'none'}">
                <a class="linkuser">
                    Permisos
                </a>
                <div class="submenu">
                    <a class="subitem" [routerLink]="['permission']" (click)="statusMenu()">Lista de permisos</a>
                    <a class="subitem" [routerLink]="['permission-new']" [ngStyle]="permissions_slug?.includes('permission.create') ? {'display': 'block'} : {'display' : 'none'}" (click)="statusMenu()">Crear permiso</a>

                </div>
            </div>


            <div class="profileSession">

                <a class="item social" [routerLink]="['login']" *ngIf="!loggedIn" (click)="statusMenu()">Log In</a>
                <a class="item social secondary" [routerLink]="['register']" *ngIf="!loggedIn" (click)="statusMenu()">Sign Up</a>



                <div class="item has-submenu"
                    [ngStyle]="loggedIn && resolution > 1200 ? {'display': 'block'} : {'display' : 'none'}" [ngStyle]="status_menu ? {'display': 'block'} : {'display' : 'none'}">


                    <a class="linkuser">
                        <div class="username">
                            {{user?.name}}

                        </div>
                    </a>
                    <div class="submenu">
                        <a class="subitem" href="#" [ngStyle]="loggedIn && resolution > 1200 && permissions_slug?.includes('userown.edit') ? {'display': 'block'} : {'display' : 'none'}" [ngStyle]="permissions_slug?.includes('userown.edit') ? {'display': 'block'} : {'display' : 'none'}" [routerLink]="['/user-edit',user?.id]">Editar perfil</a>
                        <a class="subitem" (click)="logout()">Salir</a>
                    </div>
                </div>
            </div>



            <a class="toggle" (click)="statusMenu()">&#9776;</a>
        </div>
    </nav>
</header>