<div class="container">
    <form #editPermissionForm="ngForm" (ngSubmit)="onSubmit(editPermissionForm)" class="form-users">
        <h2>Nuevo permiso</h2>

        <label for="name" class="label-title-form">Nombre:</label>
        <input type="text" placeholder="nombre" name="name"  #name="ngModel" [(ngModel)]="permission.name" class="field-form" required>

        <small *ngIf="!name.valid && name.touched" class="alert padmar alert-danger">
            El nombre no es valido
        </small>


        <label class="label-title-form" for="slug">Slug:</label>
        <input type="text" class="field-form" placeholder="Slug"  #slug="ngModel" [(ngModel)]="permission.slug" required name="slug">

        <small *ngIf="!slug.valid && slug.touched" class="alert padmar alert-danger">
            El slug no es valido
        </small>


        <label class="label-title-form" for="description">Descripcion:</label>
        <input type="text" class="field-form" placeholder="Description"  #description="ngModel" [(ngModel)]="permission.description" required name="description">
        <small *ngIf="!description.valid && description.touched" class="alert padmar alert-danger">
            La descripcion no es valida
        </small>


        <label class="label-title-form" for="role">Categoria:</label>

        
        <select class="field-form" name="category_id" #category_id="ngModel" [(ngModel)]="permission.category_id">
            <option *ngFor="let category of categories"  [ngValue]="category.id">
                {{category.name}}
            </option>
        </select>


        
        <input type="submit" value="Actualizar" class="form-submit" [disabled]="editPermissionForm.invalid">

    </form>


</div>