<div class="container">
    <form action="#" #newCategoryForm="ngForm" (ngSubmit)="onSubmit(newCategoryForm)" class="form-users">
        <h2>Crear Categoria</h2>



        <input type="text" placeholder="nombre" class="field-form" name="name" #name="ngModel"
            [(ngModel)]="category.name" required>

            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre no es valido
            </small>
    

        <input type="text" placeholder="description" class="field-form" name="description" #description="ngModel"
            [(ngModel)]="category.description" required>

            <small *ngIf="!description.valid && description.touched" class="invalid-feedback d-block">
                La descripcion no es valida
            </small>
    



        <input type="submit" value="Crear categoria" class="form-submit" [disabled]="newCategoryForm.invalid">
    </form>


</div>