<div class="container">
    <form #editUserForm="ngForm" (ngSubmit)="onSubmit(editUserForm)" class="form-users" enctype="multipart/form-data">
        <h2>{{title}}</h2>

        <label for="name" class="label-title-form">Nombre:</label>
        <input type="text" placeholder="nombre" name="name" #name="ngModel" [(ngModel)]="user.name" class="field-form"
            required>

            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre no es valido
            </small>


        <label class="label-title-form" for="email">Email:</label>
        <input type="email" class="field-form" placeholder="Su correo electronico" #email="ngModel"
            [(ngModel)]="user.email" required name="email">
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                El email no es valido
            </small>

        <label class="label-title-form" for="img">Imagen:</label>
        <input type="file" class="field-form" (change)="getFile($event)" name="img">

        <div class="field-form" *ngIf="!preview && user.img!=null">
            <img [src]="user_img" width="50" class="field-img">
        </div>
        
        <div class="field-form" *ngIf="!user.img && !preview">
            <img src="https://uybor.uz/borless/uybor/img/user-images/user_no_photo_300x300.png" class="field-img">
        </div>


        <div class="field-form" *ngIf="preview">
            <img [src]="preview" class="field-img">
        </div>


        <label class="label-title-form" for="role">Rol:</label>


        <select class="field-form" name="roles" #role="ngModel" [(ngModel)]="user.roles" [(ngModel)]="role_user">
            <option *ngFor="let role of roles_info" [ngValue]="role.id">
                {{role.name}}
            </option>
        </select>



        <input type="submit" value="Actualizar" class="form-submit" [disabled]="editUserForm.invalid">

    </form>


</div>