<div class="table-content">

    <table>
        <tbody>

            <tr class="title-table">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role(s)</th>
                <th scope="col" colspan="3">Actions</th>
            </tr>
            <tr *ngFor="let user of users">

                <td data-label="Id">{{user.id}}</td>
                <td data-label="Name">{{user.name}}</td>
                <td data-label="Email">{{user.email}}</td>
                <ng-container *ngFor="let role of user.roles">

                    <td data-label="Role(s)">{{role.name}}</td>

                </ng-container>
                <td><button class="btn-table btn-table-show" [routerLink]="['/user',user.id]">Show</button></td>
                <td><button class="btn-table btn-table-edit" [routerLink]="['/user-edit',user.id]">Edit</button></td>
                <td><button *ngIf="user" (click)="deleteUser(user.id)"
                        class="btn-table btn-table-delete">Eliminar</button></td>

            </tr>

        </tbody>

    </table>
</div>